<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="login_form" method="POST" action="/login">
        <span>Email</span>
        <input type="email" name="username" required/>
        <br><br/>
        <span>Password</span>
        <input type="text" name="password" required/>
        <button type="submit">Login</button>
    </form>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const redirectURL = urlParams.get('redirectURL')
        let login_form = document.getElementById('login_form');
        login_form.setAttribute("action", `/login?redirectURL=${redirectURL}`);
    </script>
</body>
</html>